mat-card {
  width: 60%;
  margin: auto;
}

div.button button {
  margin-right: 10px;
}

.icon {
  height: 15px;
  width: 15px;
  margin: -7px;
  margin-left: -19px;
  margin-top: -8px;
  font-size: 28px;
}
.file-input {
  display: none;
}
