<div fxLayout="row"  fxLayoutAlign="center center" class="main-container">
    <div fxFlex="1 1 40%" fxLayout="column" fxLayoutGap="20px">
        <mat-card-title fxLayoutAlign="center center">Food-Tiff</mat-card-title>
        <mat-card fxLayout="column" fxLayoutGap="10px" class="subcontainer">
            <mat-card-title fxLayoutAlign="center center">Sign In</mat-card-title>
            <mat-card-content fxLayout="column">

                <form [formGroup]="signinForm" fxLayout="column">

                    <mat-form-field appearance="outline">
                        <mat-icon matPrefix>phone</mat-icon>
                        <mat-label>Mobile Number</mat-label>
                        <input fxFlexFill matInput placeholder="xxxx-xxxxxxx" formControlName="phoneNumber" required>
                        <mat-error *ngIf="hasError('mobileNumber','required')">Enter your mobile number</mat-error>
                        <mat-error *ngIf="hasError('mobileNumber','minlength')">Please enter 11 digits mobile number</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input fxFlexFill type="password" required matInput placeholder="Enter your password"
                            [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('password','required')">Password is required</mat-error>
                        <mat-error *ngIf="hasError('password','pattern')">Please enter valid password</mat-error>
                    </mat-form-field>
                    <!-- <span fxFlexAlign="end"> <a [routerLink]="['../forgot-password-mobile']"> Forgot Password?</a></span> -->
                </form>
            </mat-card-content>
                <button mat-raised-button class="primary-button" (click)="onSubmit()">Sign
                    In</button>
            <!-- <span fxFlexAlign="center">Don't have account? <a [routerLink]="['../signup']">Sign Up</a></span> -->

        </mat-card>

    </div>
</div>
