<div fxLayout="row" fxLayoutGap="20px" class="main-container">

  <mat-card fxFlex="30">
    <h2>{{ title }}</h2>
    <div>
      <app-food-plan
      [formGroup]="planInfoFg"
      [planCategories]="planCategories"
      [plansList]="plansList"
      [imageSrc]="imageSrc"

      (onFileUpload)="onFileUpload($event)"
      ></app-food-plan>
      <!-- <form
        [formGroup]="planInfoFg"
        fxLayout="column"
        fxLayoutAlign="start start"
        fxLayoutGap="30px"
      >
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Plan Category</mat-label>
          <mat-select formControlName="planCategory" required>
            <mat-option>Plan Category</mat-option>
            <mat-option *ngFor="let plan of planCategories" [value]="plan.code">
              {{ plan.description }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="planInfoFg.get('planCategory')?.hasError('required')"
            >Field is required</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Plan Type</mat-label>
          <mat-select formControlName="planType" required>
            <mat-option>Plan Type</mat-option>
            <mat-option *ngFor="let plan of plansList" [value]="plan.code">
              {{ plan.description }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="planInfoFg.controls['planType'].errors?.required"
            >Field is required</mat-error
          >
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between start" fxFill>
          <mat-form-field appearance="outline" fxFlex="45">
            <mat-label>PerMeal Price</mat-label>
            <input
              matInput
              type="number"
              placeholder="Per Meal Price"
              formControlName="perMealPrice"
              required
            />
            <mat-error
              *ngIf="planInfoFg.controls['perMealPrice'].errors?.required"
              >Field is required</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="45">
            <mat-label>Monthly Price</mat-label>
            <input matInput type="number" placeholder="Monthly Price" />
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width" appearance="outline" fxFill>
          <mat-label>Description</mat-label>
          <textarea
            type="text"
            matInput
            placeholder="Description"
            formControlName="description"
            [matTextareaAutosize]="true"
            [matAutosizeMinRows]="10"
            [matAutosizeMaxRows]="15"
          ></textarea>
          <mat-error *ngIf="planInfoFg.controls['description'].errors?.required"
            >Field is required</mat-error
          >
        </mat-form-field>
      </form> -->
    </div>
    <div fxLayoutAlign="end end" fxLayoutGap="10px" style="height: 170px;">
      <button mat-stroked-button color="primary" (click)="onCancel()">
        BACK
      </button>
      <button mat-flat-button color="primary" (click)="savePlan()">
        SAVE PLAN
      </button>
    </div>
  </mat-card>

  <mat-card fxFlex="70" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <h2 fxFlex="50">{{ title }}</h2>
      <mat-form-field appearance="outline" class="full-width" fxFlex="30">
        <mat-label>Enter date range for your Plan</mat-label>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeFg" [min]="todayDate" [max]="endDate"
          [disabled]="!planInfoFg.valid">
          <input matStartDate placeholder="Start date" formControlName="start" />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="dateRangeFg.controls['end'].errors?.required">Please enter start and end date</mat-error>
      </mat-form-field>
    </div>
    <!-- (onDataSelected)="selectedMeals($event)"  it should be in app meal planner-->
    <app-meal-planner *ngIf="dateRangeFg.value.start && dateRangeFg.value.end && loadMeals"
      [start]="dateRangeFg.value.start" [end]="dateRangeFg.value.end" [mealtype]="planInfoFg.value.planType"
      [planProduct]="planProducts" [newlyCreatedPlanId]="newlyCreatedPlanId">
    </app-meal-planner>
    <div *ngIf="
        dateRangeFg.value.start && dateRangeFg.value.end ? showMessage : true
      ">
      <h2 class="message">Please Select Date Range after saving the plan</h2>
    </div>
    <!-- <div
      fxLayout="row"
      fxLayoutAlign="end end"
      fxLayoutGap="10px"
      style="height: 100%"
    >
      <button mat-stroked-button color="primary" (click)="onCancel()">
        Cancel
      </button>
      <button mat-flat-button color="primary" (click)="savePlan()">
        Save Plan
      </button>
    </div> -->
  </mat-card>
</div>
