<mat-card-title>{{title}}</mat-card-title>
<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px">
  <div fxFlexAlign="end">
    <div class="demo-button-container" fxFlexAlign="end">
      <button color="primary" mat-raised-button (click)="addUser()" class="demo-button">
        <mat-icon>add</mat-icon>
        Add User
      </button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="12px" fxFill>

    <mat-form-field appearance="legacy">
      <mat-label>Select User Type</mat-label>
      <mat-select [formControl]="selectUserTypeCtrl" (selectionChange)="selectUserType($event)">
        <mat-option *ngFor="let type of userType" [value]="type.code" style="line-height: 12px">
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
            <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="4px">
              <div class="fb-14" fxFlex="none">{{ type.description }}</div>
            </div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayoutAlign="end" fxLayout="row" fxLayoutGap="25px">
      <mat-slide-toggle [checked]="isUserActiveCtrl.value" [formControl]="isUserActiveCtrl" fxFlexAlign="center"
        color="primary">Active only</mat-slide-toggle>
      <mat-form-field appearance="legacy">
        <mat-label>Search user by</mat-label>
        <mat-select [formControl]="searchUserByCtrl" (selectionChange)="searchUsersBy($event)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let userList of userList" [value]="userList.code" style="line-height: 12px">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
              <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="4px">
                <div class="fb-14" fxFlex="none">{{ userList.description }}</div>
              </div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy" *ngIf="searchUserByCtrl.value">
        <mat-label>Search</mat-label>
        <input matInput type="text" [formControl]="searchValueCtrl">
      </mat-form-field>
      <button mat-icon-button matTooltip="Search user" color="primary" (click)="searchUsers()" fxFlexAlign="center">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 demo-table" fxFlexFill>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i+1}}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="[element.id]">{{element.firstName}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">
        {{element.lastName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>
    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
      <td mat-cell *matCellDef="let element">{{element.phoneNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Is Active</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [required]="true" [checked]="element.isActive" color="primary"></mat-slide-toggle>
      </td>
    </ng-container>
    <ng-container matColumnDef="userType">
      <th mat-header-cell *matHeaderCellDef>User Type</th>
      <td mat-cell *matCellDef="let element">{{element.userType}}</td>
    </ng-container>

    <ng-container matColumnDef="profileImgUrl">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.profileImgUrl" [title]="element.name" [style.width.px]="imageWidth"
          [style.margin.px]="imageMargin">
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu" color="primary">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="[element.id,'edit']">
            UPDATE
          </button>
          <button mat-menu-item [routerLink]="[element.id]">
            VIEW
          </button>
          <!-- <button mat-menu-item (click)="deleteUser(element)">
            DELETE
          </button> -->
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <h3 *ngIf="dataSource == '' || dataSource == null || !dataSource">No user found!</h3>

</div>
