.main-container {
  width: 100% !important;
  height: 100% !important;
}
mat-card {
  height: 70px;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 10px;
}
mat-card:hover {
  cursor: pointer;
  background-color: #bdb8b71a;
}

mat-card.active {
  height: 70px;
  padding: 15px;
  border-radius: 4px;
  border-left: 4px solid #d53f12;
  margin-bottom: 10px;

}

mat-icon {
  font-size: 19px;
}

mat-card-title {
  font-size: 15px;
}

.top-nav {
  margin: 25px 0 15px 0;
  background-color: #d53f12;
  border-radius: 6px;
}

mat-card-subtitle {
  font-size: 12px;
}

h2 {
  font-size: 20px;
}

div.top-nav button {
  width: 33.33%;
}

mat-form-field {
  margin-bottom: 0px;
  height: 48px;
}

.mat-tab-label,
.mat-tab-label-active {
  min-width: 100px !important;
}

mat-button-toggle {
  padding: 0 5px !important;
  width: 100%;
  color: #d53f12;
  font-weight: 500;
}

mat-button-toggle:hover {
  background-color:#D9522D !important;
  border-radius: 5px !important;
  color: white;
}

.mat-button-toggle-checked {
  background-color: #d53f12 !important;
  color: white !important;
}

.mat-button-toggle-input {
  background-color: none !important;
}
.mat-button-toggle-group {
  height: 32px;
  align-items: center;
}

