<mat-card-title>{{title}}</mat-card-title>
<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px">
 <div  fxFlexAlign="end" >
     <div class="demo-button-container" fxFlexAlign="end" fxLayoutGap="10px">
      <button color="primary" (click)="addCodeList()" mat-raised-button class="demo-button">
        <mat-icon>add</mat-icon>
        Add code list
      </button>
    <button color="primary" (click)="addCodeListItem()" mat-raised-button class="demo-button">
      <mat-icon>add</mat-icon>
      Add code list item
    </button>
  </div>
 </div>
 <mat-form-field appearance="legacy">
  <mat-label>Select CodeList Type</mat-label>
  <mat-select [formControl]="codeListItem"
  (selectionChange)="onCodeListChange($event)">

  <mat-option *ngFor="let code of codeList" [value]="code.name" style="line-height: 12px">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
      <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="4px">
        <div class="fb-14" fxFlex="none" >{{ code.description }}</div>
      </div>
    </div>
  </mat-option>
</mat-select>

</mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 demo-table" fxFlexFill>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let element">
        <a>{{element.code}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Active</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle (change)="publishCodeListItem($event,element)" [required]="true" [checked]="element.isActive" color="primary"></mat-slide-toggle>
      </td>
    </ng-container>
    <ng-container matColumnDef="lang">
      <th mat-header-cell *matHeaderCellDef>Language</th>
      <td mat-cell *matCellDef="let element">
        {{element.lang}}
      </td>
    </ng-container>
    <ng-container matColumnDef="sortOrder">
      <th mat-header-cell *matHeaderCellDef>Sort Order</th>
      <td mat-cell *matCellDef="let element">
        {{element.sortOrder}}
      </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element; let i=index">
        <button mat-icon-button (click)="updateCodeListItem(element,i)" color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>mode_edit</mat-icon>
        </button>
          </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

